version: "3.9"
services:
  db:
    image: mariadb
    volumes:
      - ./data/db:/var/lib/mysql
    environment:
      - MARIADB_ROOT_PASSWORD=${MARIADB_ROOT_PASSWORD}
      - MARIADB_DATABASE=${MARIADB_DATABASE}
      - MARIADB_USER=${MARIADB_USER}
      - MARIADB_PASSWORD=${MARIADB_PASSWORD}
      - MARIADB_PORT=${MARIADB_PORT}
    ports:
      - "33061:3306"
    restart: always

  app:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - 8000:8000
    environment:
      - MARIADB_DATABASE=${MARIADB_DATABASE}
      - MARIADB_PASSWORD=${MARIADB_PASSWORD}
      - MARIADB_USER=${MARIADB_USER}
      - MARIADB_PORT=${MARIADB_PORT}
    depends_on:
      - db

  rabbitmq:
    image: rabbitmq:alpine
    ports:
      - 5672:5672

  redis:
    image: redis:alpine
    ports:
      - 6379:6379

  
  celery: 
    restart: always
    build:
      context: .
    command: celery -A mail_future_me worker --loglevel=INFO
    ports:
      - 5555:5555
    volumes:
      - .:/app
    environment:
      - MARIADB_DATABASE=${MARIADB_DATABASE}
      - MARIADB_USER=${MARIADB_USER}
      - MARIADB_PASSWORD=${MARIADB_PASSWORD}
      - MARIADB_PORT=${MARIADB_PORT}
    
    depends_on:
      - db
      - rabbitmq
      - redis
      - app

  celery-beat:
    restart: always
    build:
      context: .
    command: celery -A mail_future_me beat --loglevel=INFO --scheduler django_celery_beat.schedulers:DatabaseScheduler
    volumes:
      - .:/app
    environment:
      - MARIADB_DATABASE=${MARIADB_DATABASE}
      - MARIADB_USER=${MARIADB_USER}
      - MARIADB_PASSWORD=${MARIADB_PASSWORD}
      - MARIADB_PORT=${MARIADB_PORT}
    
    depends_on:
      - db
      - rabbitmq
      - redis
      - app

    

  
