<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Sending date</th>
            <th scope="col">Recaiving date</th>
            <th scope="col">Sent</th>
            <th scope="col">Read</th>
        </tr>
    </thead>
    <tbody>
        {% for email in object_list %}
        <tr class="align-middle">
            <th scope="row">{{ forloop.counter0|add:page_obj.start_index }}</th>
            <td>{{email.created_at}}</td>
            <td>{{email.due_to}}</td>
            {% comment %} TODO: Change to icons {% endcomment %}
            <td>{{email.sent}}</td>
            <td>
                <a href="{% if email.sent %}#{% endif %}" type="button"
                    class="btn btn-outline-dark {% if not email.sent %}disabled{% endif %}">Read</a>
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>
{% if paginator.num_pages != 1 %}
{% if paginator.num_pages != 2 %}

<a href="?page=1" type="button" class="btn btn-outline-dark">1</a>
{% endif %}
{% if page_obj.has_previous %}
<a href="?page={{page_obj.previous_page_number}}" type="button" class="btn btn-outline-dark">&lt </a>
{% endif %}
<a type="button" class="btn btn-outline-dark">{{page_obj.number}} of {{paginator.num_pages}}</a>
{% if page_obj.has_next %}
<a href="?page={{page_obj.next_page_number}}" type="button" class="btn btn-outline-dark">&gt</a>
{% endif %}
{% endif %}