{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Mail future me</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="#">Mailing</a>
            <a class="nav-item nav-link" href="#">About</a>
        </div>
    </div>
    <form class="form-inline">
        {% if not user.is_authenticated %}
        <a href="{% url 'login' %}" class="btn btn-outline-success" type="a">Log in</a>
        <a href="{% url 'signup' %}" class="btn btn btn-outline-secondary" type="a">Sign up</a>
        {% else %}
        <a href="{% url 'logout' %}" class="btn btn btn-outline-secondary" type="a">Log out</a>

        {% endif %}
    </form>
</nav>
{% endblock navbar %}